.sv-vm-button {
    display: flex;
    align-items: center;
    justify-content: center; 
    background: white;
    border-radius: 3px;
    border: 2px solid rgb(85, 85, 85);
    font-size: 1.6em;
    padding: 5px 10px;

    &:hover {
        color:red
    }
}